@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&family=Noto+Sans:wght@400;700&display=swap');

body{min-width: 320px; font-size:16px;margin:0;padding:0;
font-family: 'Montserrat', 'Noto Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;color:#000;font-weight:400;word-break:break-word;text-transform: capitalize;text-align: center;}

body, button, caption, div, dl, dt, dd, form, fieldset, figcaption, figure, footer, header, h1, h2, h3, h4, h5, h6, img, iframe, input, ul, ol, li, p, section, article, aside, span, table, td, th, tr{margin:0;padding:0;border:none;box-sizing:border-box;vertical-align:middle}
a{display:block}
a, a:visited, a:active, a:hover{color:inherit;border:none;text-decoration:none;}
a, a:visited{margin:0;padding:0;}
ul, ol, li{list-style:none;}
em{font-style:normal}
span{display:inline-block;vertical-align:baseline;}
:hover{transition: .3s ease-in-out;}
legend{display:none;margin:0;padding:0;}
input, select, textarea, button{font:inherit;margin:0;padding:0;border:0;background:0;cursor:pointer;vertical-align:middle}
strong, b, h2, h3, h4, h5{font-weight:600}
button {-webkit-appearance:none; -moz-appearance:none;}
button, select {-webkit-border-radius:0; -moz-border-radius:0; -o-border-radius:0; border-radius:0;}
::selection {background:gray;text-shadow:none;}        

