body{background:#f8f8f8;}
i{font-family: 'Material Icons';font-style:normal;}
.hidden{display:none;}
input {padding:.5em 1em;margin:.4em 0;}

article{position: relative;box-shadow: 0px 0 30px 0 rgba(0 0 0 /0.4);}
.visual{width:100%;padding: 10px 20px;padding-top:55.25%;height:0;border: 0;background-color: #fff;overflow:hidden;position: relative;}

.visual button{background: rgba(0 0 0 /0.7);padding:.5em 1em;color:#fff;position: absolute;bottom:0%;right:0;z-index:1;transition: .4s width ease-in-out;width:40px;height:35px}
.visual button::after{content: "click to change photo";opacity:0;}
.visual button:hover{width:auto;}
.visual button:hover::after{opacity:1;}

section{width:80%;position: absolute;top:6vw; left:50%;transform: translate(-50%,0);}
.clockBox *{display: inline-block;}
.clockBox h2{font-size:1em;}
.clockBox p {font-weight: 400;font-size: 16px}
.clockBox .time {padding-left:6px;}

.login{padding-top: 5vw;}
.login input{background: #fff;box-shadow: 0px 0 30px 0 rgba(0 0 0 /0.4);}
.login input[type="submit"]{background:#000;color: #fff;}
h1{font-size: 2em;color:#fff;text-shadow:5px 5px 10px #000;}
h1 span{display:inline-block;}


main {width: 80%;padding-top:2em;margin:auto}
.todoList{width:80%;margin:auto;}
.todoList input{width:100%;border-bottom:1px solid;text-align: center;}
.todoList button{padding-left:.5em;}
main div{height:calc(96.5vh - 13em);overflow-y:auto;}
main li{border-bottom:1px dashed #ddd;padding: 1em 0;}


@media all and (min-width:1000px) {
  article>div{margin: auto;}
  article{width:60%;height:100vh;}
  .visual{height: 100%;}
  .weather{width:calc(50% - 4px);text-align: left;display:inline-block;}
  .clockBox {width:calc(50% - 4px);text-align:right;display: inline-block;}
  h1{color:#000;text-shadow:5px 5px 0 #f8f8f8;;font-size: 5em;}
  main{width:40%;position:absolute;top:3.5vw;right:0;}
}